body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display:grid;
    grid-template-columns: 25% 200px 25%;
}

.item{
    background: blue;
    border: 1px red solid;
    padding: 10px;
}